doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport',content='initial-scale=1.0,width=device-width')
    title Webpack1 app
body
    block main
    h1 page index-pug
    img(src=require('./webpack.png') width='300')