.navbar
	&-wrap
		display: flex
		flex-direction: column
		padding: 0
		align-items: center
		// display: flex
		// flex-flow: row wrap
		// justify-content: space-between
		min-height: 80px
	&__mobile, &__landline
		text-align: right
	&__phone
		font-size: 19px
		+bold
		display: block
		margin-bottom: 5px
		text-decoration: none
		color: $text-color
	&__small-text
		display: block
		font-style: 14px
		color: $text-color__light
		text-decoration: none
.menu
	&-btn
		justify-self: start
		align-self: center
		background-color: transparent
		border: none
		border-right: 1px solid rgba(#510bba, 0.1)
		border-left: 1px solid rgba(#510bba, 0.1)
		height: 80px
		width: 70px
		&__line 
			display: block
			width: 20px
			height: 3px
			background-color: #89a9eb
			margin: 2px auto
.logo 
	&__text
		display: block
		font-style: 18px
		margin-bottom: 5px
		+bold
		text-transform: uppercase
	&__descroption
		display: block
		font-style: 14px
		color: $text-color__light

@media all and (min-width: 700px)
	.navbar
		&-wrap
			display: grid
			grid-template-columns: 0.5fr [col-start] repeat(3, 1fr [col-middle]) auto [col-end]
			align-items: center
			justify-items: start
			